{% load static thumbnail %}<!DOCTYPE html>

<ul>
    {% if notifications %}
        {% for notification in notifications %}
            <span class="fa fa-stack float-left">
            {% if notification.verb == 'P' or notification.verb == 'C' %}
                <i class="fa fa-comment fa-stack-1x"></i>
            {% elif notification.verb == 'L' %}
                <i class="fa fa-heart fa-stack-1x"></i>
            {% elif notification.verb == 'A' %}
                <i class="fa fa-check-circle fa-stack-1x"></i>
            {% elif notification.verb == 'R' %}
                <i class="fa fa-reply fa-stack-1x"></i>
            {% endif %}
            </span>
            <p>{{ notification }}&nbsp;{{ notification.created_at|timesince }}之前</p>
        {% endfor %}
        <a type="button" class="btn-sm btn-primary text-center" href="{% url 'notifications:unread' %}">查看所有</a>
        <a type="button" class="btn-sm btn-primary text-center"
           href="{% url 'notifications:mark_all_read' %}">全部标为已读</a>
    {% else %}
        <li class="text-center">没有未读通知</li>
    {% endif %}
</ul>
